@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/ALLcss/AlL.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <title>Aiyero-King__注册</title>
</head>
<body style="background-image :url(../../Images/背景.jpg)">
    <table>
        <tr style="height:200px;"><td></td></tr>
    </table>
    <table width="100%">
        <tr style="width:100%">
            <td width="20%"></td>
            <td style="background-image :url(../../Images/登录背景.jpg);">
                <br />
                <h2 style="color:aquamarine">&nbsp;&nbsp;AiyeroKing OnLine Hotel Os &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 注册</h2><hr />
                <form action="/Register/SetupNM" method="post">
                    <table align="center" width="100%">
                        <tr>
                            <td width="33%"></td>
                            <td colspan="2">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:100px; height:40px;">用户名：</span>
                                    <input type="text" name="UserName" class="form-control" placeholder="请输入账号" style="width:250px; height:40px;">
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:100px;height:40px">密&nbsp;&nbsp;码：</span>
                                    <input type="password" name="UserMima" class="form-control" placeholder="请输入密码" style="width:250px; height:40px;">
                                </div>
                            </td>
                        </tr>
                        <tr><td colspan="3" height="20px;"></td></tr>
                        <tr>
                            <td align="center" colspan="3">
                                --------------
                                <button type="submit" class="btn btn-success" style="width:80px;">提交</button>--------------
                                <button type="reset" class="btn btn-danger" style="width:80px;">重置</button>--------------
                            </td>
                        </tr>
                    </table>
                </form>
                <hr />
                <h3 style="text-align:right;font-family:YouYuan;color:blueviolet"> <strong>AiyeroKing在线酒店预订系统-注册&nbsp;&nbsp;</strong></h3>
                <br />
            </td>
            <td width="25%"></td>
        </tr>
    </table>
</body>
</html>
