<br /><br /><br />
<link href="~/Content/ALLcss/AlL.css" rel="stylesheet" />
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li>
                    <a href="#">酒店首页</a>
                </li>
                <li class="active">
                    关于我们
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" style="text-align:center">
   
    <p style="text-align:center;color:darkblue;font-family:YouYuan;font-size:50px;">联系我们</p><hr style="color:#00ff21; height:10px;" /><hr style="color:#00ff21;" />
    <div class="container"  >
        
        <table align="center" width="600px"  >

            <tr style="background-color:antiquewhite">
                <td align="left" style="font-family:YouYuan;">
                    
                    <img src="~/Images/联系我们.jpg" />
                </td>
            </tr>
            <tr><td width="80px;"></td></tr>

            <tr style="background-color:antiquewhite">
                <td align="left" style="font-family:YouYuan;">
                    <p style="text-align:center; color:crimson;font-size:30px;">集团中心</p>
                    <p> 集团品牌及营运中心：广州市白云区大大大路61-65号<br />
                        邮编： 510405<br />
                        电话：（020）-37426066<br />
                        传真：（020）-37426088<br />
                        集团投资及财务结算中心：广西南宁中山路66号金外滩商务大厦25层<br />
                        电话：（0111）-1110000<br />
                        传真：（0111）-1110000<br />
                    </p>
                </td>
            </tr>
            <tr><td width="80px;"></td></tr>

            <tr style="background-color:darkkhaki">
                <td align="left" style="font-family:YouYuan;">
                    <p style="text-align:center; color:brown;font-size:30px;">招商加盟</p>
                    <p>
                        加盟热线：4000-900-999<br />
                        传真：（220）-1231231<br />
                        电子邮箱：xuhui@ccinn.cn<br /><br /><br />
                    </p>
                </td>
            </tr>
            <tr><td width="80px;"></td></tr>
            <tr style="background-color:crimson">
                <td align="left" style="font-family:YouYuan;">
                    <p style="text-align:center; color:darkblue;font-size:30px;">订房中心</p>
                    <p>
                        7×24小时全国统一订房电话：100-110-1111<br />
                        官方订房网站：www.XXXXXXXXXXXXX.com<br /><br /><br />
                    </p>
                </td>
            </tr>
            <tr><td width="80px;"></td></tr>

        </table>
    </div>
</div>
<br /><br />