<br /><br />
<link href="~/Content/ALLcss/AlL.css" rel="stylesheet" />
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <img src="~/Images/齿轮.jpg" height="30" width="30" />首页 >> 酒店位置
                </h1>
            </div>
        </div>
    </div>
</div>