<br /><br />
<link href="~/Content/ALLcss/AlL.css" rel="stylesheet" />
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <img src="~/Images/齿轮.jpg" height="30" width="30" />首页 >> 酒店介绍
                </h1>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabbable" id="tabs-617729">
                    <ul class="nav nav-tabs">
                        <li style="width:800px;">&nbsp;</li>
                        <li>
                            <a href="#panel-38832" data-toggle="tab">酒店介绍</a>
                        </li>
                        <li class="active">
                            <a href="#panel-638441" data-toggle="tab">酒店荣誉</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="panel-38832">




                            <p style="font-family:SimSun;font-size:20px;color:brown">
                                AiyeroKing酒店
                                
                            </p>

                            <p>生态主题酒店，休闲度假中心</p>


                        </div>
                        <div class="tab-pane active" id="panel-638441">





                            <p>
                                Howdy, I'm in Section 2.
                            </p>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>