<br /><br /><br />
<link href="~/Content/ALLcss/AlL.css" rel="stylesheet" />
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li>
                    <a href="#">酒店首页</a>
                </li>
                <li class="active">
                    酒店介绍
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="text-align:center">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabbable" id="tabs-617729">
                    <ul class="nav nav-tabs">
                        <li style="width:45%">&nbsp;</li>
                        <li>
                            <a href="#panel-38832" data-toggle="tab">酒店介绍</a>
                        </li>
                        <li class="active">
                            <a href="#panel-638441" data-toggle="tab">酒店荣誉</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="panel-38832">
                            <p style="font-family:SimSun;font-size:80px;color:gold;">  AiyeroKing酒店   </p>
                            <p style="font-family:SimSun;font-size:40px;color:gold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----生态主题酒店，休闲度假中心</p>
                            <hr />
                            <div  style="text-align:center">
                                <table  align="center" width="70%">

                                    <tr>
                                        <td></td><td width="80%" align="left" style="font-size:20px;">Aiyero-King酒店，Aiyero集团倾力打造生态丛林主题度假及会展酒店，酒店自开业以来一直备受各界推崇，赢得了不少奖项和殊荣，更被亚洲旅游业界颇具影响力的《TTG中国旅业报》连续八年评选为“中国最佳主题酒店”以及屡次获得中国MICE产业金椅子奖所颁发的"最佳度假会议酒店奖"等。</td><td></td>
                                    </tr>

                                    <tr>
                                        <td></td><td  width="80%" align="center"><br /><br /><img src="~/Images/Two/外景.jpg" width="800px;" /> <br /><br /> </td><td></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td width="80%" align="left" style="font-size:20px;">Aiyero-King酒店坐拥数千亩的森林和绿地，远离都市的喧闹，完全融入最生态的自然环境之中，给您高贵而私密的放松感觉；它地处Aiyero旅游度假区的中心地段，毗邻Aiyero欢乐世界、Aiyero水上乐园、Aiyero国际大马戏和长隆野生动物世界等世界顶级的主题乐园。酒店拥有1500间生态主题客房，环绕着中庭动物岛，雪虎、白鹤等珍稀动物与您共眠。</td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                       
                                        <td width="80%" align="center"><br /><br />  
                                            <img src="~/Images/Two/外景1.jpg" width="800px;" />     <br /><br /> </td>
                                        <td></td>

                                       
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td width="80%" align="left" style="font-size:20px;">Aiyero-King酒店为所有酒店住客提供独享的尊贵特权。例如从酒店通往各大主题公园的住客快速通道，园区特定设施免排队服务，动物园导游VIP服务，园区签单特权，康体休闲专属优惠，Aiyero国际大马戏还为酒店住客预留住客专区。另外，酒店住客只要在酒店票务中心以门市价购买主题公园门票，即可在入住期间享当日同一园区无限次进出特权，定必让每位顾客真切体会到Aiyero-King酒店的五星级服务。</td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td width="80%" align="center"><br /><br />   
                                            <img src="~/Images/Two/外景2.jpg" width="800px;" />    <br /><br /> </td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td width="80%" align="left" style="font-size:20px;">除了舒适温馨的客房，酒店更打造了高级的餐饮消费场所，从经典到创新美食，为顾客缔造饮食潮流体验。白虎自助餐厅，拥有1000个宽敞舒适餐位，是全国唯一放养白虎和火烈鸟的自助餐厅；麒麟中餐厅，由广东名厨打理，为您制作地道考究的粤菜；彩蝶谷美食廊，无国界餐厅；帕图斯扒房，享受尊贵生活；怀石料理日本餐厅，精益求精的和风美食。</td>
                                            
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td width="80%" align="center"><br /><br />  
                                            <img src="~/Images/Two/外景3.jpg" width="800px;" />     <br /><br /> </td>
                                        <td></td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="tab-pane active" id="panel-638441" style="text-align:center">
                            <p style="font-family:SimSun;font-size:80px;color:gold;">  AiyeroKing酒店 </p>
                            <p style="font-family:SimSun;font-size:40px;color:gold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-----荣誉展示</p>
                         <hr />
                               <div style="text-align:center">
                                <table align="center">
                                    <tr>
                                        <td><img src="~/Images/One/2016CHA年度最佳会议酒店.jpg" /></td>
                                        <td><img src="~/Images/One/扒房.jpg" /></td>
                                        <td><img src="~/Images/One/2014年度热销酒店.jpg" /></td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/Images/One/自助餐厅奖励.jpg" /> </td>
                                        <td><img src="~/Images/One/自助餐厅.jpg" /> </td>
                                        <td><img src="~/Images/One/卓越将.jpg" /> </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/Images/One/销售酒店.jpg" /></td>
                                        <td><img src="~/Images/One/水晶杯.jpg" /></td>
                                        <td><img src="~/Images/One/驴妈妈百度假期酒店.jpg" /></td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/Images/One/金人奖.jpg" /></td>
                                        <td><img src="~/Images/One/度假酒店年度奖.jpg" /></td>
                                        <td><img src="~/Images/One/2016主题酒店奖.jpg" /></td>
                                    </tr>
                                </table>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>