<br /><br /><br />
<link href="~/Content/ALLcss/AlL.css" rel="stylesheet" />
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("酒店首页", "Index", "Home")

                </li>
                <li class="active">
                    住房预约
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-69095">
                <ul class="nav nav-tabs" style="text-align:center">
                    <li style="width:30%">&nbsp;</li>
                    <li class="active" style="text-align:center">
                        <a href="#panel-131360" data-toggle="tab" >房间展示</a>
                    </li>
                    <li>
                        <a href="#panel-501375" data-toggle="tab">预约登记</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="panel-131360">


                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="v3/default4.jpg" />
                                                <div class="caption">
                                                    <h3>
                                                        Thumbnail label
                                                    </h3>
                                                    <p>
                                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="v3/default5.jpg" />
                                                <div class="caption">
                                                    <h3>
                                                        Thumbnail label
                                                    </h3>
                                                    <p>
                                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="v3/default6.jpg" />
                                                <div class="caption">
                                                    <h3>
                                                        Thumbnail label
                                                    </h3>
                                                    <p>
                                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <hr />
                        <br />

                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="v3/default4.jpg" />
                                                <div class="caption">
                                                    <h3>
                                                        Thumbnail label
                                                    </h3>
                                                    <p>
                                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="v3/default5.jpg" />
                                                <div class="caption">
                                                    <h3>
                                                        Thumbnail label
                                                    </h3>
                                                    <p>
                                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="v3/default6.jpg" />
                                                <div class="caption">
                                                    <h3>
                                                        Thumbnail label
                                                    </h3>
                                                    <p>
                                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <hr />
                        <br />


                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="v3/default4.jpg" />
                                                <div class="caption">
                                                    <h3>
                                                        Thumbnail label
                                                    </h3>
                                                    <p>
                                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="v3/default5.jpg" />
                                                <div class="caption">
                                                    <h3>
                                                        Thumbnail label
                                                    </h3>
                                                    <p>
                                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="v3/default6.jpg" />
                                                <div class="caption">
                                                    <h3>
                                                        Thumbnail label
                                                    </h3>
                                                    <p>
                                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br />
                        <hr />
                        <br />



                    </div>
                    <div class="tab-pane" id="panel-501375">



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

