<br /><br /><br />
<link href="~/Content/ALLcss/AlL.css" rel="stylesheet" />
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("酒店首页", "Index", "Home")

                </li>
                <li class="active">
                    房间展示
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-69095">
                <ul class="nav nav-tabs" style="text-align:center">
                    <li style="width:48%">&nbsp;</li>
                    <li class="active" style="text-align:center">
                        <a href="#panel-131360" data-toggle="tab" >房间展示</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="panel-131360">


                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="~/Images/Room/鸟趣双人房 500.jpg" />
                                                <div class="caption">
                                                    <h3 class="g1o1p1">
                                                        鸟趣双人房 ￥500.00/间/晚
                                                    </h3>
                                                    <p>
                                                        该套房配有55平方米空间，内置电视、空调、热水器、电脑、两张床、温馨舒适，预订可获得套餐：￥128元的食品套餐，另附有早餐，欢迎预订！
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="~/Images/Room/狩猎房 600.jpg" />
                                                <div class="caption">
                                                    <h3 class="g1o1p1">
                                                        狩猎房  ￥600.00/间/晚
                                                    </h3>
                                                    <p>
                                                        该套房配有47平方米空间，内置电视、空调、热水器、电脑、两张床、温馨舒适，预订可获得套餐：￥158元的食品套餐，另附有早餐，欢迎预订！                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="~/Images/Room/鸟趣大床房800.jpg" />
                                                <div class="caption">
                                                    <h3 class="g1o1p1">
                                                        鸟趣大床房 ￥800.00/间/晚
                                                    </h3>
                                                    <p>
                                                        该套房配有71平方米空间，内置电视、空调、热水器、电脑、一张情侣大床、书桌、温馨舒适，适用于情侣度假、预订可获得套餐：￥228元的食品套餐，另附有早餐，欢迎预订！                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <hr />
                        <br />

                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="~/Images/Room/标准家庭套房800.jpg" />
                                                <div class="caption">
                                                    <h3 class="g1o1p1">
                                                        标准家庭套房 ￥800.00/间/晚
                                                    </h3>
                                                    <p>
                                                        该套房配有100平方米空间，内置电视、空调、热水器、电脑、两张床、温馨舒适，预订可获得套餐：￥288元的食品套餐，另附有早餐，欢迎预订！                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="~/Images/Room/高级套房1000元.jpg" />
                                                <div class="caption">
                                                    <h3 class="g1o1p1">
                                                        高级套房 ￥1000.00/间/晚
                                                    </h3>
                                                    <p>
                                                        该套房配有100平方米空间，内置电视、空调、热水器、电脑、一张床、内置两个厕所、温馨舒适，预订可获得套餐：￥328元的食品套餐，另附有早餐，欢迎预订！                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="~/Images/Room/野趣套房1200元.jpg" />
                                                <div class="caption">
                                                    <h3 class="g1o1p1">
                                                        野趣套房 ￥1200.00/间/晚
                                                    </h3>
                                                    <p>
                                                        该套房配有120平方米空间，内置电视、空调、热水器、电脑、一张情侣大床、温馨舒适，预订可获得套餐：￥588元的食品套餐，另附有早餐，欢迎预订！                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <hr />
                        <br />


                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="~/Images/Room/白虎套房，1300元.jpg" />
                                                <div class="caption">
                                                    <h3 class="g1o1p1">
                                                        白虎套房 ￥1300.00/间/晚
                                                    </h3>
                                                    <p>
                                                        该套房配有123平方米空间，内置电视、空调、热水器、电脑、一张情侣大床、温馨舒适，预订可获得套餐：￥666元的食品套餐，另附有早餐，欢迎预订！                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="~/Images/Room/高级家庭套房1500.jpg" />
                                                <div class="caption">
                                                    <h3 class="g1o1p1">
                                                        高级家庭套房 ￥1500.00/间/晚
                                                    </h3>
                                                    <p>
                                                        该套房配有100平方米空间，内置电视、空调、热水器、电脑、三张床、温馨舒适，预订可获得套餐：￥888元的食品套餐，另附有早餐，欢迎预订！                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="~/Images/Room/贵宾套房2000.jpg" />
                                                <div class="caption">
                                                    <h3 class="g1o1p1">
                                                        贵宾套房 ￥2000.00/间/晚
                                                    </h3>
                                                    <p>
                                                        该套房配有155平方米空间，内置电视、空调、热水器、电脑、五张床、温馨舒适，预订可获得套餐：￥999元的食品套餐，另附有早餐，欢迎预订！                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br />
                        <hr />
                        <br />



                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

